.projectGrid{
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   display:flex;
}

.proGrid{
   font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   display: flex;
}